html, body {
    overflow: hidden;
    height: 100%;
}
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #121212; /* لون خلفية التحميل */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.raccoon-logo {
    width: 100px; /* حجم الشعار */
    height: auto;
    animation: bounce-raccon 2s infinite;
}/* From Uiverse.io by Yaya12085 */ 
.loader {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.icon {
  height: 2.6rem;
  width: 2.6rem;
  animation: spin 1s linear infinite;
  stroke: #fc0;
}

.loading-text {
  font-size: 2.2rem;
  line-height: 1rem;
  font-weight: 500;
  color: #fc0;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes bounce-raccon {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* ارتفاع القفزة */
    }
}
body {
    background-color: #040404;
    color: #D9CE94; /* لون نص فاتح للتباين مع الخلفية الداكنة */

}

h1 {
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    text-align: center;
    color: #D9CE94;
    margin-top: 7rem;
    padding: 1%;
}

#gallery {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

@media (max-width: 1200px) {
    #gallery {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 600px) {
    #gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

#gallery img, #gallery video {
    width: 100%;
    height: auto;
    margin: 4% auto;
    box-shadow: -3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border-radius: 10px; /* حواف مستديرة قليلاً */
}

.modal-img, .model-vid {
    width: 100%;
    height: auto;
}


.card {
    background-color: #1c1c1c; /* لون خلفية البطاقة */
    border: none;
    border-radius: 12px; /* حواف مستديرة */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* ظل البطاقة */
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #333;
}
.gif{
  margin: 0;
    padding: 0;
    height: 100vh;
}
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


section{
  height: 100vh;
}

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



/* ===== Colours ===== */
:root{
    --nav-color: #242526;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}



nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}
/*--- ========footer======= ----*/
.a {
  font-size: 2rem;
  color:#fff;
  text-decoration:none;
}
.p{
  font-size: 1.3rem;
}
footer p{
  color: #dddd;
}
footer {
  width:100vw;
  position:block;
  margin-bottom:-1rem;
}
footer div {
  background-color: #4478e3;
  margin: -5px 0px 0px 0px;
  padding:0px;
  text-align:center;
}
svg {
  width:100%;
  overflow:visible;
}
.note{
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4478e3;
}
.drop {
  fill: #1748ad;
  xfill: #99000055;
  animation: drop 3.2s linear infinite normal;
  stroke: var(--col-deepblue);
  stroke-width:0.5;
  transform: translateY(25px) ;
  transform-box: fill-box;
  transform-origin: 50% 100%;
}
.drop1 {
  
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
}
.drop4 {
  animation-delay: 1.7s;
}
.drop5 {
  animation-delay: 2.7s;
  animation-duration:3.1s;
}
.drop6 {
  animation-delay: -2.1s;
  animation-duration:3.2s;
}
.gooeff {
    filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(25px); 
  }
  30% {
    transform: translateY(-10px) scale(.1);
  }
  30.001% {
    transform: translateY(25px) scale(1); 
  }
  70% {
    transform: translateY(25px); 
  }
  100% { 
    transform: translateY(-10px) scale(.1);  
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}


